.bodyCon {
    margin: 0 auto;
    zoom: 1;
}
.topNav {
    height: 30px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    padding: 5px 0px;
}
.bodyCon {
    width: 1200px;
}
.topNav a {
    color: #333;
}
.topNav a:hover {
    color: #ff5c00;
}
.mrbtm20 {
    margin-bottom: 20px;
}
.borderf1 {
    border: 1px solid #f1f1f1;
}
.conTopLeftBox {
    position: relative;
    float: left;
    width: 350px;
    z-index: 2;
    _width: 350px;
    background-color: #fff;
}
.preview {
    text-align: center;
    width: 350px;
    float: none;
    position: relative;
    z-index: 5;
}
.jqzoom {
	width: 350px;
    overflow: hidden;
    _height: 350px;
    position: relative;
    zoom: 1;
    z-index: 10;
}
/*.jqzoom, .jqzoom img {
    width: 350px;
    height: 350px;
}*/
.spec {
    position: relative;
    width: 350px;
    height: 64px;
    overflow: hidden;
    zoom: 1;
}
.arrowbox {
    width: 22px;
    height: 64px;
    cursor: pointer;
}
.specLeftT {
    background-position: -195px -330px;
    left: 4px;
}
.specLeftT, .specRightT, .specLeftF, .specRightF {
    position: absolute;
    width: 12px;
    float: left;
    height: 21px;
    top: 20px;
    cursor: pointer;
}
.specList ul {
    position: absolute;
    width: 320px;
    left: 2px;
}
.specList ul li {
    width: 60px;
    display: inline;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}
.specList ul li img {
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    padding: 2px;
    margin-bottom: 1px;
}
.specRightT {
    background-position: -212px -330px;
    right: 4px;
}
.sharebox {
    width: 327px;
    padding-top: 12px;
    padding-left: 23px;
    position: relative;
    left: 0;
    top: 0;
}
.bdshare-button-style1-24 {
    zoom: 1;
}
.bdshare-button-style1-24 a, .bdshare-button-style1-24 .bds_more {
    float: left;
    font-size: 18px;
    padding-left: 25px;
    line-height: 24px;
    height: 24px;
    background-image: url(../img/share/icons_1_24.png?v=37be22f4.png);
    _background-image: url(../img/share/icons_1_24_debase.png?v=37be22f4.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}
.bdshare-button-style1-24 .bds_weixin {
    background-position: 0 -1612px;
}
.bdshare-button-style1-24 .bds_tsina {
    background-position: 0 -104px;
}
.bdshare-button-style1-24 .bds_tqq {
    background-position: 0 -260px;
}
.bdshare-button-style1-24 .bds_qzone {
    background-position: 0 -52px;
}
.bdshare-button-style1-24 .bds_tqf {
    background-position: 0 -364px;
}
.attention {
    width: 100px;
    height: 38px;
    background-image: url(../images/product_gaiban/fav.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    float: left;
    cursor: pointer;
    margin-left: 30px;
    _display: inline-block;
    zoom: 1;
}
.conTopConBox {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    position: relative;
    padding: 15px 10px 10px;
    min-height: 450px;
    _height: 450px;
    z-index: 1;
    background-color: #fff;
}
.conTopConBox h1 {
    color: #333;
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: bold;
}
.conTopConBox .productinfo {
    font-size: 16px;
    color: #FF5c00;
    padding-bottom: 5px;
    font-weight: bold;
}
.fahuo-cang i {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 15px solid #f70;
    border-bottom: 8px solid transparent;
    vertical-align: -4px;
    margin-right: 5px;
}
#summary {
    width: 635px;
}
#summary li {
    padding-top: 7px;
    padding-bottom: 3px;
}
#summary li .sx_dt {
    width: 70px;
    float: left;
    color: rgb(153, 153, 153);
    text-align: center;
    padding-right: 10px;
    padding-right: 10px;
}
.pdt5 {
    padding-top: 5px;
}

#summary li .sx_dd {
    float: left;
}
#summary-price .p-price {
    height: 27px;
    line-height: 27px;
    font-family: tahoma;
    color: #DE1010;
    font-size: 20px;
    font-weight: bold;
}
#summary li .sx_dt {
    width: 70px;
    float: left;
    color: rgb(153, 153, 153);
    text-align: center;
    padding-right: 10px;
    font-family: 宋体;
}
.bdbtm {
    border-bottom: 1px dotted #ccc;
}
#summary li .sx_dt {
    width: 70px;
    float: left;
    color: rgb(153, 153, 153);
    text-align: center;
    padding-right: 10px;
    font-family: 宋体;
}
#summary li .sx_dd {
    float: left;
}
.salePromotionType {
    position: relative;
    z-index: 5;
    overflow: hidden;
    zoom: 1;
    height: 20px;
}
.salePromotionType dt {
    float: left;
    width: 45px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
.salePromotionType dt.dt_icon4 {
    background-position: 0px -432px;
    cursor: default;
}
.salePromotionType dd {
    float: left;
    position: relative;
    padding-left: 53px;
    padding-right: 62px;
}
.promDetail {
    float: left;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3em;
    word-break: break-all;
    word-wrap: break-word;
}
.sp_act {
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
}
.in i, .ex i {
    font-size: 0;
    overflow: hidden;
    zoom: 1;
    width: 0;
    height: 0;
    border-width: 5px;
    border-color: #333 #fff #fff #fff;
    border-style: solid dashed dashed dashed;
    margin-left: 4px;
}
.sp_act a {
    display: block;
    float: right;
    color: #0361D8;
    width: 50px;
}
.promBox {
    margin-bottom: 10px;
    overflow: hidden;
    height: 88px;
    border: 1px solid #ccc;
    /*border-right: none;*/
    margin-top: 5px;
    position: relative;
}
.full_gift, .change_gift {
    padding-top: 9px;
    padding-left: 10px;
    overflow: hidden;
    float: left;
}
.w1200 .full_gift, .change_gift {
    width: 492px;
}
.size_num {
    overflow: hidden;
    zoom: 1;
    display: inline-block;
}	

.size_num {
    width: 455px;
}
.size_num li a {
    color: #333;
    border: 1px solid #ccc;
    display: block;
    padding: 3px 12px;
}
.size_num li {
    margin-right: 4px;
    margin-bottom: 3px;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #333;
    background-color: #fff;
}
.size_num {
    overflow: hidden;
    zoom: 1;
    display: inline-block;
}
.size_num {
    width: 455px;
}


.xzoom-big {
    display: none;
    position: absolute;
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.xzoom-big img{
        position: absolute;
        left: 0;
        right: 0;
        z-index:100;
}

.jqzoom img{
    width:350px;
    height:350px;
}
.zoom{
    background-color: rgba(0,0,0,0.5);
}

.listImg {
    position: absolute;
    width: 320px;
    left: 2px;
}
.listImg li {
    width: 60px;
    height: 60px;
    display: inline;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.listImg  li img {
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    padding: 2px;
    margin-bottom: 1px;
}
.jqzoom img{
    float: left;
}




#h_m_main{
    margin-bottom: 50px;
    /*height: 2500px;*/
}
.h_m_main_t{
    height: 715px;
    margin-top: 20px;
    border:1px solid #ccc;
}
.h_m_main_t .fc{
    display: none;
}
.h_m_main_t .img_left{
    width: 410px;
    height: 400px;
    background-color: skyblue;
}
.h_m_main_t .img_right{
    width: 550px;
}
.img_bottom{
    margin-top: -250px;
    padding-top: 20px;
    float: left;
}
.img_bottom>div{
    display: inline-block;
    width: 20px;
    height: 60px;
}
.img_bottom .m_left{
    height: 60px;
}
.img_bottom .m_left img{
    display: inline-block;
    width: 10px;
    height: 60px;   
    margin-left: 0px;
    float: left;
}
.img_bottom .m_right img{
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 60px;   
}
.img_bottom div{
    display: inline;
}
.img_bottom img{
    width: 40px;
    height: 40px;
    margin-left: 27px;
    margin-top: 20px;
    /*border: 1px solid #FF6701;    */
}
.img_bottom .first{
    margin-left: 0px;
    padding-left: 5px;
}
.m_size{
    margin-top: 20px;
    padding-left: 20px;
}
.m_size i{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.m_size span{
    padding: 5px;
    border: 1px solid #ccc;
}
.m_color{
    margin-top: 30px;
    padding-left: 20px;
    width: 450px;
}
.m_color i{
    font-size: 14px;
}
.m_color span{
    padding: 5px;
    border: 1px solid #ccc;
}
.m_details{
    margin-top: 10px;
}
.m_qty{
    margin-left: 20px;
    margin-top: 10px;
}
.m_qty span{
    font-size: 12px;
}
.m_qty input{
    margin-left: 10px;
    width: 50px;
    border: 1px solid #ccc;
}
.m_qty a{
    margin-left: 80px;
}
.m_qty p span{
    margin-left: 10px;
}
.m_qty .m_show_color{
    color: #FF4552;
}
.h_m_main_c{
    margin-top: 10px;
    /*width: 980px;*/
    height: 230px;
    border: 1px solid #ccc;
}
.h_m_main_c p{
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
.h_m_main_c p i{
    font-size: 16px;
    padding: 0 10px;
    font-weight: bold;
}
.h_m_main_c p span{
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 10px;
}
.m_qty #pay{
    display: inline-block;
    height: 30px;
    margin-left: 50px;
}
.m_move{
    position: absolute;
    width: 400px;
    height: 400px;
    /*background-color: skyblue;*/
    left: -400px;
    top: 560px;
}
.m_move_img{
    position: absolute;
    width: 200px;
    height: 200px;
}
.m_move_img .active3{
    position: absolute;
    width: 400px;
    height: 400px;
}
.fr_img{
    display: inline-block;
    width: 355px;
}
.m_table{
    width: 350px;
    height: 180px;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    margin-left: 22px;
}
.t1{
    background-color: #F8F7F7;
    font-size: 14px;
    font-weight: bold;
}
.m_table tr{
    border-bottom: 1px solid #ccc;
}
.m_td{
    background-color: #F8F7F7;
    border-right: 1px solid #ccc;
}
.m_table td{
    border-right: 1px solid #ccc;
}
#price0,#price1,#price2,#price3{
    color: red;
}
.h_m_main_b{
    margin-top: 50px;
}
.h_m_main_b p{
    font-size: 12px;
}
.m_text{
    width: 185px;
    height: 18px;
    border: 1px solid #ccc;
}
.m_textarea{
    width: 375px;
}
.m_randomCode{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    width: 120px;
    height: 20px;
    background-color: #787878;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
#m_again{
    font-size: 12px;
    color: red;
}
.m_bcd{
    width: 743px;
    float: left;
}
#m_comment{
    float: right;
    width: 595px;
    margin-top: 20px;
    margin-left: 20px;
}
.m_comment_left{
    width: 128px;
    height: 174px;
    /*background-color: skyblue;*/
}   
.m_comment_left img{
    display: inline-block;
    /*width: 20px;
    height: 20px;*/
}
.m_abc{
    float: left;
    margin-top: 50px;
}
.m_start{
    display: inline-block;
}
.m_p{
    line-height: 20px;
}
.m_zxc{
    float: left;
}
.m_zxc .m_customers{
    height: 28px;
    width: 200px;
    background: #505050;
    color: #fff;
    line-height: 28px;
    text-align: center;
}
.m_zxc img{
    width: 100px;
    height: 120px;
    margin-top: 50px;
    margin-left: 50px;
}
.m_zxc p{
    width: 160px;
    margin-left: 30px;
}
.active{
    border: 1px solid #FF6701;
}
.active1{
    border: 1px solid #FF4500;
    background: url(../images/503.png) no-repeat right bottom;
}
.active3{
    border: 2px solid #ccc;
}
.active4{
    position: fixed;left:0;top:0;right:0;
}
/*.active7{
    background-image: url(../images/708.png);
}*/